<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="it.tyto.uml30.profiles"
         name="it.tyto.uml30.profiles"
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://APP_PROFILES/andromda-webservice.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/andromda-webservice.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/andromda-xml.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/andromda-xml.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.common.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.common.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.messaging.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.messaging.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.meta.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.meta.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.persistence.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.persistence.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.presentation.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.presentation.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.process.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.process.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.service.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.service.profile.uml">
      </mapping>

      <mapping
            source="pathmap://APP_PROFILES/UML_Standard_Profile.UML_Standard_Profile.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/UML_Standard_Profile.UML_Standard_Profile.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/UML_Standard_Profile.Validation_Profile.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/UML_Standard_Profile.Validation_Profile.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.xml.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.xml.profile.uml">
      </mapping>
      <mapping
            source="pathmap://APP_PROFILES/org.andromda.profile.webservice.profile.uml"
            target="platform:/resource/it.tyto.iia/generator/org/eclipse/acceleo/module/pim/uml30/profile/org.andromda.profile.webservice.profile.uml">
      </mapping>
   </extension>
</plugin>
